body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightpink;
  align-items: center;
  text-align: center;
}


footer{
  background-color: #be6875;
  width: 100%; 
  height: 20vh; 
}

.navbar {
  background-color: #be6875;
  padding: 0.02px 250px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}


.nav-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  display: left;
}


.nav-links li input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

.nav-links li input[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

body {
  margin: 0;
  padding-top: 60px; 
}



#cake-container{
  display:flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.cake{
  flex: 0 0 calc(20% - 20px); 
  width:20%;
  width: 20%;
  border-radius: 10px; 
  background-color: #be6875;
  margin: 10px; 
}
